.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 50px;
}

.banner {
  background-color: #0fc915;
  color: rgb(169, 21, 21); 
  text-align: center;
  padding: 30px 0; 
}

.footer {
  background-color: #3b9258;
  text-align: center;
  padding: 30px 0; 
}

h1 {
  margin: 0;
  font-size: 2.5em;
}



body {
  background-color: linen;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  color: navy;
  font-size: 2.5em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

h2 {
  color: navy;
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

p {
  text-align: center;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border: 10px solid green;
  border-radius: 20px;
  display:block;
  margin: auto;
  width: 50%;
}


img:hover {
  transform: scale(1.05);
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 30px;
  color: black;
  margin-top: 10px;
}


nav {
  padding: 10px 0;
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  color: rgb(47, 56, 134);
  text-decoration: none;
  font-size: 1.4em;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
} 

nav ul li a {
  color: rgb(12, 80, 225);
  background-color:rgb(207, 255, 204);
  text-decoration: none;
  /*font-size: 1.2em; */
  /*repeating font size in both sections that feature nav ul li doubles the effects */
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
  color: yellow;
}




